* {
    margin: 0;
}

body {
    font: 16px/1.5 Arial, sans-serif;
    background: #c26b07;
}

div {
    width: 80vw;
    margin: auto;
}

main {
    min-height: 100vh;
}

header, footer {
    background: #744414;
}

img {
    max-width: 80%;
    margin: auto;
}

nav ul {
    display: flex;
    align-items: center;
    margin: auto;
    gap: 50px;
}
